<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통으로 쓰이는 script파일을넣는다.-->
<th:block th:fragment="scriptFragment">

    <!-- Bootstrap core JavaScript-->
    
    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
  	<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
	
	<!-- 고유 스크립트 추가 -->
	<th:block layout:fragment="script"></th:block>	

</th:block>
</html>