<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{sb_admin/layout/default}">
<!-- 타이틀 -->
<head>
    <title>R2COPY - Job Detail</title>
</head>

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container-xl px-4">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="edit-3"></i></div>
                                            Job Detail
                                        </h1>
                                        <div class="page-header-subtitle">Dynamic form components to give your users informative and intuitive inputs</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-n10">
                        <div class="row">
                        	   <div class="col-lg-6">
                        	   		 <div id="default">
                        	   		 		 <div class="card mb-4">
                        	   		 		 
                                        		<div class="card-header">Default Bootstrap Form Controls</div>
                                        		   <div class="card-body">
			                                        		<!-- Component Preview-->
			                                            	<div class="sbp-preview">
				                                                <div class="sbp-preview-content">
				                                                
				                                                        <form th:object="${job}">
																		  <div class="form-group">
																		    <label for="jobId">Job Id</label>
																		    <input type="text" class="form-control" id="jobId" name="jobId" th:value="*{jobId}" readonly>
																		  </div>
																		  
																		  <div class="form-group">
																		    <label for="jobName">job Name</label>
																		    <input type="text" class="form-control" id="jobName" name="jobName" th:value="*{jobName}">
																		  </div>
																		  
																		  <div class="form-group">
																		    <label for="rclonePath">rclone Path</label>
																		    <input type="text" class="form-control" id="rclonePath" name="rclonePath" th:value="*{rclonePath}">
																		  </div>

																		  <div class="form-group">
																		    <label for="rcloneCmd">rclone Cmd</label>
																		    <input type="text" class="form-control" id="rcloneCmd" name="rcloneCmd" th:value="*{rcloneCmd}">
																		  </div>
																		  
																		  <div class="form-group">
																		    <label for="rcloneOption">rclone Option</label>
																		    <input type="text" class="form-control" id="rcloneOption" name="rcloneOption" th:value="*{rcloneOption}">
																		  </div>
																		  																		  
																		  <div class="form-group">
																		    <label for="srcPath">srcPath</label>
																		    <input type="text" class="form-control" id="srcPath" name="srcPath" th:value="*{srcPath}">
																		  </div>
																		  
																		  <div class="form-group">
																		    <label for="targetPath">targetPath</label>
																		    <input type="text" class="form-control" id="targetPath" name="targetPath" th:value="*{targetPath}">
																		  </div>

																		  																		  																		  
																		  <div class="form-group">
																		    <label for="logPath">logPath</label>
																		    <input type="text" class="form-control" id="logPath" name="logPath" th:value="*{logPath}">
																		  </div>
																		  																		  
																		  <button type="submit" class="btn btn-primary">Submit</button>
																		</form>
				                                                
				                                                </div>
				                                                
			                                                	<div class="sbp-preview-text">The default Bootstrap form control states have been restyled to fit the SB Admin Pro theme. The style has changed, but the markup is identical.</div>
			                                                
			                                                </div>
    
                                        		</div>
                        	   		 		 </div>
                        	   		 </div>
                        	   </div>
                        </div>
                    </div>                  

</th:block>
</html>